<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--{hook t_header}-->
        <title>{$title}{$conf.title2}</title>
        <link href="{#WWW}View/hy_user/css/um.css" rel="stylesheet">
        <link href="{#WWW}View/hy_user/icon/iconfont.css" rel="stylesheet">
        <!-- <link href="{#WWW}public/css/font-awesome.min.css" type="text/css" rel="stylesheet" /> -->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="{#WWW}public/js/jquery.min.js"></script>
        <!--<![endif]-->
        <!--[if lte IE 8 ]>
        <script src="{#WWW}public/js/jquery1.11.3.min.js"></script>
        <![endif]-->
        <script src="{#WWW}public/js/sweet-alert.min.js"></script>
        <link href="{#WWW}public/css/alert.css" rel="stylesheet">

        <!--{hook t_user_header}-->
        <script>
        var www = "{#WWW}{#RE}";
        var WWW = "{#WWW}";

        var exp = "{#EXP}";

        </script>
    </head>
    <body>
        <div class="bj"></div>
            <div id="main-wrap" class="content page dashboard space centralnav">
                <div id="author-page" class="primary bd clx" role="main">
                {include left_menu}
                    <div class="area">
                        <div class="page-wrapper">
                            <div class="dashboard-main">

<div class="dashboard-head">
    <nav>
        {hook t_user_header_menu_top}
        {if in_array($method,['thread','post','collections']) !== false}
        <a href="{php HYBBS_URL('my',$data['user'],'thread');}" {if $method == 'thread'}class="active"{/if}>{$_LANG['我的文章']}</a>
        <a href="{php HYBBS_URL('my',$data['user'],'post');}" {if $method == 'post'}class="active"{/if}>{$_LANG['帖子评论']}</a>
        <a href="{php HYBBS_URL('my',$data['user'],'collections');}" {if $method == 'collections'}class="active"{/if}>我的收藏</a>
        {/if}

        {if in_array($method,['op','log','file']) !== false {hook t_user_header_menu_info_if}}
        <a href="{php HYBBS_URL('my',$data['user'],'op');}" {if $method == 'op'}class="active"{/if}>个人资料</a>
        <a href="{php HYBBS_URL('my',$data['user'],'log');}" {if $method == 'log'}class="active"{/if}>积分日志</a>
        <a href="{php HYBBS_URL('my',$data['user'],'file');}" {if $method == 'file'}class="active"{/if}>我的文件</a>

        {/if}

        {if in_array($method,['message']) !== false {hook t_user_header_menu_message_if}}
        <a href="{php HYBBS_URL('my',$data['user'],['message'=>'index']);}" {if X('get.message') == 'index'}class="active"{/if}>最新消息
        </a>
        <a href="{php HYBBS_URL('my',$data['user'],['message'=>'follow']);}" {if X('get.message') == 'follow'}class="active"{/if}>我的关注</a>
        <a href="{php HYBBS_URL('my',$data['user'],['message'=>'fans']);}" {if X('get.message') == 'fans'}class="active"{/if}>我的粉丝</a>
        {/if}

        {hook t_user_header_menu_bottom}
        
    </nav>
</div>
<div class="dashboard-body">