<aside class="sidebar-menu fixed">
	<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
		<div class="sidebar-inner scrollable-sidebar" style="overflow: hidden; width: auto; height: 100%;overflow-y: auto;">
			<div class="main-menu">
				<ul class="accordion">
					<li class="menu-header">
						Main Menu
					</li>
					<li class="bg-palette1 {if METHOD_NAME == 'Index'}active open{/if}">
						<a href="{php HYBBS_URL('admin')}">
							<span class="menu-content block">
								<span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
								<span class="text m-left-sm">首页</span>
							</span>
							<span class="menu-content-hover block">
								首页
							</span>
						</a>
					</li>
					<li class="bg-palette4 {if METHOD_NAME == 'Op'}active open{/if}">
						<a href="{php HYBBS_URL('admin','op')}">
							<span class="menu-content block">
								<span class="menu-icon"><i class="block fa fa-cog fa-lg"></i></span>
								<span class="text m-left-sm">全局设置</span>
							</span>
							<span class="menu-content-hover block">
								全局设置
							</span>
						</a>
					</li>
					<li class="bg-palette2">
						<a href="{#WWW}">
							<span class="menu-content block">
								<span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
								<span class="text m-left-sm">网站首页</span>
							</span>
							<span class="menu-content-hover block">
								网站首页
							</span>
						</a>
					</li>
					<li class="openable bg-palette3 {if METHOD_NAME == 'Forum_group' || METHOD_NAME == 'Forum' || METHOD_NAME == 'Forumg' || METHOD_NAME == 'Forum_json' }active open{/if}">
						<a href="#">
							<span class="menu-content block">
								<span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
								<span class="text m-left-sm">板块分类</span>
								<span class="submenu-icon"></span>
							</span>
							<span class="menu-content-hover block">
								板块分类
							</span>
						</a>
						<ul class="submenu bg-palette4">
							<li><a {if METHOD_NAME == 'Forum_group'}class="active"{/if} href="{php HYBBS_URL('admin','forum_group')}" title="板块分组"><span class="submenu-label">大分组</span></a></li>
							<li><a {if METHOD_NAME == 'Forum'}class="active"{/if} href="{php HYBBS_URL('admin','forum')}" title="板块分类列表管理"><span class="submenu-label">分类管理</span></a></li>
							<li><a {if METHOD_NAME == 'Forumg'}class="active"{/if} href="{php HYBBS_URL('admin','forumg')}" title="板块分类 版主列表编辑"><span class="submenu-label">分类版主</span></a></li>
							<li><a {if METHOD_NAME == 'Forum_json'}class="active"{/if} href="{php HYBBS_URL('admin','forum_json')}" title="板块用户组列表权限控制"><span class="submenu-label">分类用户组权限</span></a></li>

						</ul>
					</li>
					<li class="openable bg-palette4 {if METHOD_NAME == 'User' || METHOD_NAME == 'Usergroup'}active open{/if}">
						<a href="#">
							<span class="menu-content block">
								<span class="menu-icon"><i class="block fa fa-users fa-lg"></i></span>
								<span class="text m-left-sm">用户管理</span>
								<span class="submenu-icon"></span>
							</span>
							<span class="menu-content-hover block">
								用户管理
							</span>
						</a>
						<ul class="submenu"  style="display: none;">
							<li><a {if METHOD_NAME == 'User'}class="active"{/if} href="{php HYBBS_URL('admin','user')}"><span class="submenu-label">用户管理</span></a></li>
							<li><a {if METHOD_NAME == 'Usergroup'}class="active"{/if} href="{php HYBBS_URL('admin','usergroup')}"><span class="submenu-label">用户组</span></a></li>

						</ul>
					</li>

					<li class="openable bg-palette3 {if METHOD_NAME == 'Thread' || METHOD_NAME == 'Post' || METHOD_NAME == 'Post_post'}active open{/if}">
						<a href="#">
							<span class="menu-content block">
								<span class="menu-icon">
								<i class="block fa fa-tags fa-lg"></i>
								</span>
								<span class="text m-left-sm">主题评论</span>	
								<span class="submenu-icon"></span>
							</span>
							<span class="menu-content-hover block">
								主题评论
							</span>
						</a>
						<ul class="submenu"  style="display: none;">
							<li><a {if METHOD_NAME == 'Thread'}class="active"{/if} href="{php HYBBS_URL('admin','Thread')}"><span class="submenu-label">文章管理</span></a></li>
							<li><a {if METHOD_NAME == 'Post'}class="active"{/if} href="{php HYBBS_URL('admin','Post')}"><span class="submenu-label">评论管理</span></a></li>
							<li><a {if METHOD_NAME == 'Post_post'}class="active"{/if} href="{php HYBBS_URL('admin','Post_post')}"><span class="submenu-label">子评论管理</span></a></li>

						</ul>
					</li>


					
					<li class="bg-palette2 {if METHOD_NAME == 'View'}active open{/if}">
						<a href="{php HYBBS_URL('admin','view')}">
							<span class="menu-content block">
								<span class="menu-icon"><i class="block fa fa-paint-brush fa-lg"></i></span>
								<span class="text m-left-sm">外观&模板</span>

							</span>
							<span class="menu-content-hover block">
								外观模板
							</span>
						</a>
					</li>
					<li class="bg-palette3 {if METHOD_NAME == 'Code'}active open{/if}">
						<a href="{php HYBBS_URL('admin','code')}">
							<span class="menu-content block">
								<span class="menu-icon"><i class="block fa fa-code fa-lg"></i></span>
								<span class="text m-left-sm">插件</span>

							</span>
							<span class="menu-content-hover block">
								插件
							</span>
						</a>
					</li>

					<li class="openable bg-palette4 {if METHOD_NAME == 'Log' || METHOD_NAME == 'Log_php'}active open{/if}">
						<a href="#">
							<span class="menu-content block">
								<span class="menu-icon">
								<i class="block fa fa-cube fa-lg"></i>
								</span>
								<span class="text m-left-sm">日志</span>
								<span class="submenu-icon"></span>
							</span>
							<span class="menu-content-hover block">
								日志
							</span>
						</a>
						<ul class="submenu"  style="display: none;">
							<li><a {if METHOD_NAME == 'Log'}class="active"{/if} href="{php HYBBS_URL('admin','Log')}"><span class="submenu-label">用户日志</span></a></li>
							<li><a {if METHOD_NAME == 'Log_php'}class="active"{/if} href="{php HYBBS_URL('admin','Log_php')}"><span class="submenu-label">PHP日志</span></a></li>
							

						</ul>
					</li>

					

					{hook t_admin_left_menu_li}

				</ul>
			</div>
			<div class="sidebar-fix-bottom clearfix">
				<div class="user-dropdown dropup pull-left">
					<a title="快捷菜单" href="javascript:;" class="dropdwon-toggle font-18" data-toggle="dropdown">
						<i class="fa fa-flickr"></i>
					</a>
					<ul class="dropdown-menu">
						<li class="dropdown-header"><i class="fa fa-flickr"></i> 快捷菜单</li>
						<li>
							<a href="javascript:;" onclick="delete_cache({'one1':true})">
								<i class="fa fa-trash"></i> 清空文件缓存
							</a>
						</li>
						<li>
							<a href="{php HYBBS_URL('admin','view',['op'=>BBSCONF('theme')])}" >
								<i class="fa fa-cog"></i> 配置PC模板
							</a>
						</li>
						<li>
							<a href="{php HYBBS_URL('admin','view',['op'=>BBSCONF('wapview')])}" >
								<i class="fa fa-cog"></i> 配置手机模板
							</a>
						</li>			  	  
						<li class="divider"></li>
						<li>
							<a href="{php HYBBS_URL('admin','op')}"><i class="fa fa-cog"></i> 全局设置</a>
						</li>			  	  
					</ul>
				</div>
				<a title="注销后台账户" href="{php HYBBS_URL('admin','out')}" class="pull-right font-18">
					<i class="fa fa-sign-out"></i>
				</a>
			</div>
			<script type="text/javascript">
			function delete_cache(data){
				swal({
		            title: "删除缓存",
		            text: '确认删除文件缓存！',
		            type: "warning",
		            confirmButtonColor: "#DD6B55",
		            confirmButtonText: "确定",
		            cancelButtonText: '取消',
		           //allowOutsideClick:false,
		           showCancelButton: true,
		        }).then(
		        	function() {
		        		$.ajax({
							url:'{php HYBBS_URL('admin')}',
							type:'post',
							data:data,
							dataType:'json',
							success:function(e){
								if(e.error){
				                    swal('成功',e.info,'success');
				                }
				                else{
				                    swal('错误',e.info,'error');
				                }
							},error:function(e){

							}
						});
		            },
		            function(){

		            }
		        );
				
				

			}
			</script>
			
		</div>
		<div class="slimScrollBar" style="width: 0px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 651px; background: rgb(0, 0, 0);"></div>
		<div class="slimScrollRail" style="width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
	</div><!-- sidebar-inner -->
</aside>
