<!--{hook t_m_post_header_1}-->
<header class="hy-header hy-fix-t hy-bo-b" style="background:#FFF;">
<!--{hook t_m_post_header_2}-->
<a href="javascript:history.back(-1)" class="hy-header-nav hy-header-left icon icon-chevron-small-left" ></a>
<!--{hook t_m_post_header_3}-->
<h1 class="hy-header-title">{$title}</h1>
<!--{hook t_m_post_header_4}-->

<!--{hook t_m_post_header_5}-->
</header>
<!--{hook t_m_post_header_6}-->


<style type="text/css">
  .icon-chevron-small-left, .icon {
    color: #337ab7 !important;
}

</style>
<!--{hook t_m_post_header_7}-->