<div class="hy-box" >
<!--{hook t_m_thread_list_1}-->
	<div class="thread">
		<!--{hook t_m_thread_list_2}-->
		<a href="javascript:;" class="avatar">
			{if !$v['top'] && $v['posts'] > 20 && !$v['state']}<span class="icon-fire badge badge-danger"></span>{/if}
			{if $v['state']}<span class="icon-lock badge badge-z"></span>{/if}
			{if $v['top']==2}<span class="icon-thumb-tack badge badge-blue"></span>{elseif $v['top']==1}<span class="icon-thumb-tack badge badge-warning"></span>{/if}
			<img src="{#WWW}{$v.avatar.b}" class="">
		</a>
		<!--{hook t_m_thread_list_3}-->

		<a class="list-title" href="{php HYBBS_URL('thread',$v['tid']);}" ajax="true" pos="right">
			<h3>{$v.title}
				{if $v['digest']}<i class="icon icon-fire" title="{$_LANG['精']}" style="color: tomato !important;;    font-size: inherit;"></i>{/if}
		        	{if $v['state']}<i class="icon icon-lock" title="{$_LANG['禁止回复']}" style="color: grey !important;s;    font-size: inherit;"></i>{/if}
		    </h3>
		</a>
		<!--{hook t_m_thread_list_4}-->
		<ul class="hy-lable-group">
			{if $forum[$v['fid']]['fid'] != -1}
			<!--{hook t_m_thread_list_5}-->
	        <li style="word-spacing: -0.35em;">
	            <a style="background:{php echo forum($forum,$forum[$v['fid']]['fid'],'background');};color:{php echo forum($forum,$forum[$v['fid']]['fid'],'color');};" iframe="true" ajax="true" href="{php HYBBS_URL('forum',$forum[$v['fid']]['fid'])}" class="hy-lable hy-lable-zz">{php echo forum($forum,$forum[$v['fid']]['fid'],'name');}</a>
	        </li>
	        <!--{hook t_m_thread_list_6}-->
	        {/if}
	        <!--{hook t_m_thread_list_7}-->
	        <li>
	            <a style="background:{php echo forum($forum,$v['fid'],'background');};color:{php echo forum($forum,$v['fid'],'color');};border-top-right-radius: 3px;border-bottom-right-radius: 3px;" iframe="true" ajax="true" href="{php HYBBS_URL('forum',$v['fid'])}" class="hy-lable hy-lable-zz">{php echo forum($forum,$v['fid'],'name');}</a>
	        </li>
	        <!--{hook t_m_thread_list_8}-->
	        <li class="blt">
	            <span class="icon-reply"></span>
	            {if ACTION_NAME != 'My'}
	            {if $v['posts']}
	            <span class="user">{$v.buser}</span>
	            {$_LANG['回复于']}
	            {else}
	            <span class="user">{$v.user}</span>
	            {$_LANG['发表于']}
	            {/if}
	            {else}
	            {$_LANG['发表于']}
	            {/if}
	            <span class="time">{if $v['posts']}{php echo humandate($v['btime']);}{else}{php echo humandate($v['atime']);}{/if}</span>
	        </li>
	        <!--{hook t_m_thread_list_9}-->
	    </ul>
		<span class="posts" title="" {if ($v['btime']+1800) > NOW_TIME && $v['btime'] != $v['atime']}style="background: #e7672e;color: #fff;font-weight: bold;"{/if}>{$v.posts}</span>
		<!--{hook t_m_thread_list_10}-->
		
		
	</div>
	<!--{hook t_m_thread_list_11}-->
</div>