{include h}
{include user_header}
{include user_menu}
{foreach $thread_data as $v}
<div class="hy-box" >
<!--{hook t_m_thread_list_1}-->
	<div class="thread">
		<!--{hook t_m_thread_list_2}-->
		
		<!--{hook t_m_thread_list_3}-->

		<a class="list-title" href="{php HYBBS_URL('thread',$v['tid']);}" ajax="true" pos="right">
			<h3>{if $v['digest']}<span title="{$_LANG['精']}" style="color: red;">{$_LANG['精']}</span>{/if}{$v.title}</h3>
		</a>
		<!--{hook t_m_thread_list_4}-->
		<ul class="hy-lable-group">
			{if $forum[$v['fid']]['fid'] != -1}
			<!--{hook t_m_thread_list_5}-->
	        <li style="word-spacing: -0.35em;">
	            <a style="background:{php echo forum($forum,$forum[$v['fid']]['fid'],'background');};color:{php echo forum($forum,$forum[$v['fid']]['fid'],'color');};" iframe="true" ajax="true" href="{php HYBBS_URL('forum',$forum[$v['fid']]['fid'])}" class="hy-lable hy-lable-zz">{php echo forum($forum,$forum[$v['fid']]['fid'],'name');}</a>
	        </li>
	        <!--{hook t_m_thread_list_6}-->
	        {/if}
	        <!--{hook t_m_thread_list_7}-->
	        <li>
	            <a style="background:{php echo forum($forum,$v['fid'],'background');};color:{php echo forum($forum,$v['fid'],'color');};border-top-right-radius: 3px;border-bottom-right-radius: 3px;" iframe="true" ajax="true" href="{php HYBBS_URL('forum',$v['fid'])}" class="hy-lable hy-lable-zz">{php echo forum($forum,$v['fid'],'name');}</a>
	        </li>
	        <!--{hook t_m_thread_list_8}-->
	        <li class="blt">
	            <span class="icon-reply"></span>
	            {if ACTION_NAME != 'My'}
	            {if $v['posts']}
	            <span class="user">{$v.buser}</span>
	            {$_LANG['回复于']}
	            {else}
	            <span class="user">{$v.user}</span>
	            {$_LANG['发表于']}
	            {/if}
	            {else}
	            {$_LANG['发表于']}
	            {/if}
	            <span class="time">{if $v['posts']}{php echo humandate($v['btime']);}{else}{php echo humandate($v['atime']);}{/if}</span>
	        </li>
	        <!--{hook t_m_thread_list_9}-->
	    </ul>
		<span class="posts" title="" {if ($v['btime']+1800) > NOW_TIME && $v['btime'] != $v['atime']}style="background: #e7672e;color: #fff;font-weight: bold;"{/if}>{$v.posts}</span>
		<!--{hook t_m_thread_list_10}-->
		
		
	</div>
	<!--{hook t_m_thread_list_11}-->
</div>
{/foreach}
<!--{hook t_m_user_thread_1}-->
<div class="hy-box" style="padding:10px">
<!--{hook t_m_user_thread_2}-->
	{if $pageid!=1}
	<span class="pg-item">

        <a class="hy-btn hy-btn-danger" href="{php HYBBS_URL('my',$data['user'],['thread'=>$pageid-1]);}">{$_LANG['上一页']}</a>
    </span>
    {/if}
    <!--{hook t_m_user_thread_3}-->
    <?php $tmp = ($data['threads']%10) ?(intval($data['threads']/10)+1) : intval($data['threads']/10) ; ?>
    {for $i=($pageid-3 < 1) ? 1 : $pageid -3; $i< (($pageid + 3 > $tmp) ? $tmp+1 : $pageid + 3) ; $i++}

<!--{hook t_m_user_thread_4}-->
    <span class="pg-item ">
        <{if $pageid == $i}span{else}a{/if} class="hy-btn hy-btn-danger {if $pageid == $i}disabled{/if}" href="{php HYBBS_URL('my',$data['user'],['thread'=>$i]);}">
            {$i}
        </{if $pageid == $i}span{else}a{/if}>
    </span>
    {/for}
    <!--{hook t_m_user_thread_5}-->
    {if $pageid!=$page_count}
    <span class="pg-item">
        <a class="next hy-btn hy-btn-danger" href="{php HYBBS_URL('my',$data['user'],['thread'=>$pageid+1]);}">{$_LANG['下一页']}</a>
    </span>
    {/if}
    <!--{hook t_m_user_thread_6}-->
</div>

<script type="text/javascript">
	$(function(){
		$(window).scroll(function(){
			<!--{hook t_m_user_thread_7}-->
			if(this.scrollY > 100  ){
				$(".hy-header").css('background','#Fff');
				$(".hy-header").addClass('header_shadow');
				$(".hy-header-title,.hy-header .icon").css("cssText","color: #0d7dbb !important");
				    

			}else{
				$(".hy-header").css('background','rgba(0, 0, 0, 0)');
				$(".hy-header").removeClass('header_shadow');
				$(".hy-header-title,.hy-header .icon").css("cssText","color: #fff");
				    
			}
			<!--{hook t_m_user_thread_8}-->
		});
		<!--{hook t_m_user_thread_9}-->

	})
</script>
<style type="text/css">
	.hy-btn{
		    padding: 4px 8px;
		    font-size: 12px;
	}
	.thread{
		padding-bottom: 10px;
		    padding-left: 10px;
	}
</style>
{include f}